@font-face {
  font-family: "Noto sans";
  src: url("/public/fonts/Noto_Sans_JP/NotoSansJP-Regular.otf");
}
body {
  margin: 0;
  font-family: "Noto sans", "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
